@charset "UTF-8";

@font-face {
    font-family: 'Idroid';
    src: url(fontes/IDroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}




header {
    background-image: linear-gradient(to bottom, #3DDB84, #355C47);
    color: white;
    padding: 3px;
}

#titulo-principal {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
}

.fonte {
    font-family: 'Idroid';
    color: #1A5C37;
    padding: 10px;
}

.fundo-titulo {
    background-image: linear-gradient(to right, #2FA866, white);
    margin-left: 10px;
}

p {
    text-indent: 30px;
    padding: 10px;
}

header > p {
    font-weight: normal;
}

.sombra {
    text-shadow: 5px 2px 10px black;
    text-align: center;    
    padding: 15px;
}

.menu {
    display: flex;    
    list-style: none;
    padding: 5px;
}


li > a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-weight: bold;
}

main {
    background-color: #83E1AD;
    
}

.artigo {
    background-color: white;
    width: 800px;
    margin: 0px auto;
    
}

.fundo-video {
    background-color: #1A5C37;
    width: 800px;
    margin: 0px auto;
}

.video {
    text-align: center;
    padding: 15px;
}

.extra {
    background-color: white;
    width: 800px;
    margin: 0px auto;
    padding-top: 15px;
}

.extra-titulo {
    background-color: #1A5C37;
    height: 35px;
    width: 730px;    
    margin: 0px auto;
    padding: 5px 0px 0px 0px;
    color: white;
    font-weight: bold;
}

.extra-conteudo {
    background-color: #3ddb8492;
    padding: 0px;
    width: 730px;
    margin: 0px auto;
}

.extra-lista {
    display: flex;
    padding: 30px;
    justify-content: space-around;   
}

.lista-item {
    list-style: none;
}

.extra-paragrafo {
    padding: 10px;
}

.segundo-paragrafo {
    padding: 30px;
    text-align: justify;
}

footer {
    background-color: #1A5C37;
    
}

footer > p {
    color: white;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    
}

.paragrafo-footer {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}